
.wrapper {
    max-width: 500px;
    min-height: 300px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main-content {
    position: relative;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 45px;
}


.divider-img {
    margin-top: 25px;
    margin-bottom: 30px;
}

.advice-cont {
    min-height: 60px;
}

.advice-id {
    font-family: 'Sono', sans-serif;
    color: hsl(150, 100%, 66%);
}

.advice-cont {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: hsl(193, 38%, 86%);
    Font-size: 28px;
}


.generate-btn {
    position: absolute;
    bottom: -55px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(150, 100%, 66%);
}


.generate-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px hsl(150, 100%, 66%);
}

.generate-btn:hover #dice{
    animation: gen-dice 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

// #dice {
//     animation: gen-dice 1.5s infinite linear;
//     transform-origin: center;
//     transform-box: fill-box;
// }


@keyframes gen-dice {
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@media (max-width: 500px) {
    .wrapper {
        max-width: 300px;
        min-height: 300px;
    }
    .advice-cont {
        font-size: 14px;
        max-width: 200px;
    }
    .divider-img {
        visibility: hidden;
    }
    .main-content{
        justify-content: space-evenly
    }
}